{% extends 'base.html' %}   
{% block title %}   

{% endblock %}
{% block content %}

<!--<a href="../statue-game/index.html">Go Back..</a> -->
<div>
    <h5>Development Credits</h5>
    <div> 
        <ol>
            <li>Traversy Media About:https://www.youtube.com/c/TraversyMedia/about</li>
            <li>Tech With Tim About:https://www.youtube.com/c/TechWithTim/about</li>
            <li>Linux Mint 19.2</li>
            <li>Visual Studio Code</li>
            <li>Sublime Text</li>
            <li>Existence</li>
            <li>Osho</li>
        </ol>
    </div>    
<h5>About Game</h5>
<div>This game is based on game named 'statue' which was popular among childrens. In this game, friends agreed to become absolutely a statue when they are told 'statue'. Any child used to call "Statue" to another child whenever one finds another is busy in some activity and it's right time to make him/her 'Statue'. Upon failure child happily gave some treat to other. It's was great fun to play this game for me. Strong appeal behind the game was not known until when I read about same explaind by Osho(R) in <a target="_blank" href="https://www.oshotimes.com/insights/lifestyle/spirituality/stop/">Stop meditation.</a>
</div>

  <div>
    <h4>FAQ</h4>
    <ol>
      <li><h5>How this Game act on behalf of the person/child who call us "Statue" when we are involved in some activity.</h5>
    Upon "Play" button click, this game will call "Statue" after some random amount of minutes has passed. Upon listening, we need to become "Statue". This game will call "Statue Over" in form of bell sound. Currently, time when "Statue" is said is hourly and time when "Statue Over" is said is few seconds after "Statue".
    Playing "Statue", "Statue Over" audio sounds in native language is next feature that can be implemented. Their timings can also be altred. I am also planning to make available source code for this game on git repository so that interested person can implement this feature. 
  </li>
</ol>
  </div>


{% endblock %}